*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formdiv{
    
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #2453d3;
    margin: auto;
    margin-top: 10%;
    padding: 100px;
}
.formdiv input{
    
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    /* outline: none; */
    border: none;
}
#loginSubmit{
    width: 100%;
    padding: 10px;
    border: none;
    background-color:rgb(4, 33, 58);
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
}

